/*

  Rules for CSS

  - Positioning
  - Box-model
  - Typography
  - Visual
  - Misc

*/
@import url('https://fonts.googleapis.com/css?family=Play');

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Play';
  background-color: #141111;
}

.form-group {
  margin-top: 17px;
}

.text {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #78B800;
  text-align: right;
}

@media (max-width: 550px){
  .text {
    text-align: center;
  }
}

.form-control,
.form-control-sm {
  border-bottom: 1px solid;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-color: #202020;
  background-color: transparent;
  color: #a5a4a5;
}

.form-control:focus {
  box-shadow: 0 0 0 0;
  border-bottom: 1px solid;
  border-color: #13fe00;
  background-color: transparent;
  color: #a5a4a5;
}

.form-control:hover {
  border-bottom: 1px solid;
  border-color: #13fe00;
}

.main {
  margin-top: 50px;
}

.shortcuts {
  margin-top: 10px;
}

@media (max-width: 575px){
  .social {
    padding-bottom: 10px;
  }

  .general {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #202020;
  }

  .google {
    padding-top: 15px;
  }
}

h5 {
  color: #78B800;
}

a {
  color: #a5a4a5;
}

a:hover {
  color: #A6FF00;
}
