/*

  Rules for CSS

  - Positioning
  - Box-model
  - Typography
  - Visual
  - Misc

*/
@import url('https://fonts.googleapis.com/css?family=Play');

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Play';
  background-color: #141111;
}

.form-group {
  margin-top: 17px;
}

.text {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #d800ff;
  text-align: right;
}

@media (max-width: 550px){
  .text {
    text-align: center;
  }
}

.form-control,
.form-control-sm {
  border: 0px;
  background-color: transparent;
  color: #A5A4A5;
}

.form-control:focus {
  box-shadow: 0 0 0 0;
  background-color: transparent;
  border-bottom: 1px solid;
  border-color: #2ebcff;
  color: #A5A4A5;
}

.form-control:hover {
  /*background-color: transparent;*/
  border-bottom: 1px solid;
  border-color: #2ebcff;
}
